* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans';
}

#main-box {
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 3em 2em 0em 2.5em;
    border-radius: 10px;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, .4);
    color: #fff;
}

#time {
    position: absolute;
    top: 1%;
    border-radius: 10px;
    /* background-color: aquamarine; */
    padding: 0em 2em 0em 2em;
    font-size: 1.5rem;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
}

#time-text {
    font-size: 8vw;
    color: white;
    overflow: hidden;
}

#textfield {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid grey;
    transition: 0.2s ease-in-out;
    padding: 0.5em 0.2em;
    width: 100%;
}

#textfield:focus {
    outline: none;
    border-bottom: 2px solid rgb(39, 39, 160);
}

#clearIcon {
    cursor: pointer;
}

#todo-text {
    font-size: 1rem;
    min-width: 0.5vw;
}

#heading-App {
    font-size: 3vw;
    /* background-color: aqua; */
}

#container-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    overflow: hidden;
    /* background-color: aliceblue; */
}

img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    z-index: -1;
}

.quotes {
    position: absolute;
    top: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    padding: 0.2em;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
}

.quotes-text {
    font-size: 1.5vw;
    font-weight: 800;
    color: white;
}